.contact-hero {
  background: url(/assets/images/contactus/contact-hero.png) no-repeat top /
    cover;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-information {
  background-color: var(--primary-color);
  border-radius: 20px;
  width: fit-content ;
  padding: 1em 3em;
  padding-bottom: 2em;
}



.contact-information h3{
  width: fit-content;
}
.contact-item {
  display: flex;
  width: fit-content;
  gap: 10px;
  margin-bottom: 10px;
}

/* ==== */

.booking label {
  font-family: "Poppins", sans-serif !important;
  margin-bottom: 10px;
}

input,
.form-extra {
  border: 1px solid #000 !important;
  border-radius: 20px !important;
  background-color: transparent !important;
  font-family: "Poppins", sans-serif !important;
}


input{
  height: 50px;
}

/* .booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.book-on-whatsapp {
  padding: 0.8em 2em;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  justify-content: center;
}

iframe{
  border-radius: 15px;

}

.care{
  background: url(/assets/images/contactus/care.png) center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: gray;
  color: #fff;
}

.mapouter {
  position: relative;
  text-align: center;
  /* height: 700px; */
  /* width: 100%; */
}

/* .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 720px;
  width: 1080x;
} */

iframe{
  width: 90%;
  aspect-ratio: 2/1;
}

@media screen and (max-width: 768px) {
  .contact-hero{
    height: 90vh;
  }

  .contact-information {
    background-color: var(--primary-color);
    border-radius: 20px;
    width: fit-content ;
    padding: 1em 2.5em;
    /* padding-bottom: 3em; */
  }

  .care{
    height: 60vh;
  }

  
  
}