
/* Hero Section */
.hero {
  background: url(/assets/images/home/herobg.png) center/cover no-repeat;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative;   */
}

.index-link {
  color: var(--primary-color) !important;
}

.action-button {
  background: rgba(0, 0, 0, 0.25);
  border: 2px solid var(--primary-color);
  padding: 0.5em 1.8em;
  color: #fff;
  text-decoration: none;
}

/* Find Profile Section */
.find-profile,
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-profile h2,
.about-us h2 {
  font-weight: 600;
  font-size: 50px;
  color: var(--primary-color);
  margin-bottom: 0;
}

.about-us h2 {
  color: #000;
}

.find-profile p,
.about-us p,
.about-details p {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 0;
}

/* Status Box */
.status {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
  width: fit-content;
}

.status h4 {
  font-weight: 600;
}

/* About Details */
.about-details h3,
.about-details h4 {
  font-weight: 600;
  color: var(--primary-color);
}

.about-details h3 {
  font-size: 25px;
}

.about-details h4 {
  font-size: 16px;
}

/* Details Button */
.details-btn {
  background-color: var(--primary-color);
  color: #fff;
  width: fit-content;
  padding: 0.8em 1.8em;
  border-radius: 20px;
}

.details-btn a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.trust {
  background-color: var(--primary-color);
}

.trust h2 {
  font-weight: 600;
  font-size: 50px;
  color: #fff;
}
.trust h4 {
  font-weight: 600;
  margin-top: 10px;
}

.trust-content {
  color: #4e4e4e;
  font-size: 18px;
}

.card {
  border-radius: 20px;
  margin: 10px;
}

.our-services h2 {
  font-weight: 600;
  font-size: 50px;
  /* color: var(--primary-color); */
}

.service-card {
  border-radius: 20px;
  margin: 10px;
  position: relative;
}

.service-card p {
  position: absolute;
  bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin: 0 !important;
  width: 100%;
  text-align: center;
}

/* ==== */

.beyond-borders {
  background: url(/assets/images/home/beyondBorders.png) center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--primary-color);
  color: #fff;
}

.beyond-borders h2 {
  font-weight: 500;
  font-size: 45px;
}

.beyond-borders p {
  font-weight: 400;
  font-size: 18px;
}

/* ====  */

.plans h2 {
  font-weight: 700;
  font-size: 50px;
}

.plan-card {
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 3em 1em !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan-price {
  border: 1px solid var(--primary-color);
  padding: 0.5em 3em;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.plan-price p {
  font-size: 25px !important;
  margin: 0 !important;
  font-weight: 400 !important;
}

.slash {
  font-weight: 700 !important;
}

.plan-para {
  font-weight: 400;
  font-size: 13px !important;
}

.plan-month {
  font-weight: 400;
  font-size: 12px !important;
}

.book-now-btn {
  border: 1px solid var(--primary-color);
  padding: 0.5em 3.5em;
  font-weight: 400;
  font-size: 20px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
}

/* .book-now-btn:hover{
  color: white;
} */




/* ==== */

.people {
  background-color: var(--primary-color);
  padding: 4em 2em;
  height: 550px;
}

.testimonial-card h3 {
  font-weight: 600;
  font-size: 30px;
}

.testimonial-para {
  font-weight: 400;
  font-size: 25px;
  color: #363636;
}

.total-rating {
  font-weight: 600;
  font-size: 20px;
  opacity: 0.7;
}

.rating {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.test {
  height: 150px;
}

.given-rating {
  font-size: 30px;
  font-weight: 700;
  opacity: 100% !important;
}

.star-rating {
  font-size: 28px;
  color: white;
}

.testimonial-card {
  /* background-color: #19a2a2; */
  color: white;
  text-align: center;
  /* padding: 40px; */
  border-radius: 10px;
  /* max-width: 500px; */
  /* margin: auto; */
  position: relative;
}
.profile-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}
.main-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid white;
  z-index: 2;
  cursor: pointer;
}
.profile-img.left {
  left: 130px;
  border-radius: 50%;
  border: 4px solid white;
}
.profile-img.right {
  right: 130px;
  border-radius: 50%;
  border: 4px solid white;
}

.testimonial-text h2 {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 105px;
}

.rating-card {
  background-color: #fff;
  width: fit-content;
}

.rating-card h3 {
  font-weight: 600;
  font-size: 40px;
}

.customers {
  color: var(--primary-color);
}

.card-star-rating {
  color: #f7871b;
  font-size: 28px;
}

.rating-card a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Responsive Design */

@media (min-width: 1024px) {
  .card {
    aspect-ratio: 1/1.1;
  }
}

@media (max-width: 768px) {

  .hero{
    height: 90vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .action-button {
    font-size: 1rem;
  }

  .find-profile h2,
  .about-us h2,
  .trust h2,
  .plans h2 {
    font-size: 2rem;
  }

  .details-btn{
    padding: 0.5em 0.5em;
    border-radius: 10px;
  }

  .w-fit{
    width: fit-content !important;
  }

  .details-btn:hover{
    background-color: var(--primary-color);
    color: white;
  }

  .details-btn a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
  }

  .trust-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .beyond-borders h2 {
    font-size: 2rem;
  }

  .plan-card {
    padding: 1rem;
  }

  .profile-img.left,
  .profile-img.right {
    position: static;
    margin: 0.5rem;
  }

  .expertice{
    flex-direction:column-reverse;
    gap: 15px;
  }

  .people {
    background-color: var(--primary-color);
    padding: 3em 1em;
    height: auto;
  }

  .test {
    height: 80px;
  }

  .testimonial-text h2 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 40px;
  }
/* 
  .profile-img.left {
    left: 10px;
    border-radius: 50%;
    border: 4px solid white;
  }
  .profile-img.right {
    right: 10px;
    border-radius: 50%;
    border: 4px solid white;
  } */
  
  
}

@media (max-width: 480px) {
  .hero {
    height: 90vh;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.1em !important;
  }

  p {
    font-size: 0.8rem !important  ;
  }

  .action-button {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700 !important;
  }

  .card {
    max-width: 300px;
    border-radius: 20px;
    margin: 10px;
  }

  .beyond-borders{
    height: 60vh;

  }

  .beyond-borders h2 {
    font-size: 1.5rem;
  }

  .plan-card {
    padding: 0.5rem;
  }

  .profile-img {
    width: 80px;
    height: 80px;
  }

  .main-img {
    width: 120px;
    height: 120px;
  }
}
